div.classe4 {
  width: 100px;
  height: 0;
  padding-bottom: 100px;
  margin-top: 9%;
  margin-left: 13%;
  // background-color: rgb(255, 0, 0);
}
.classe1 {
  float: left;
  width: 7%;
  margin: 2%;
  height: 50;
}
.classe2 {
  float: left;
  width: 10%;
  margin: 2%;
  height: 50%;
}
.classe3 {
  float: left;
  width: 69%;
  margin: 2%;
  height: 50%;
}
.ro {
  background-color: rgb(233, 229, 229);
}
